ENTRY(_start)
SECTIONS {
    . = 0x200000;     # 1MB

    .text.wwos.app.start : { *(.text.wwos.app.start) }
    .text                : { *(.text)    *(.text.*)      }
    .data                : { *(.data)    *(.data.*)      }
    .rodata              : { *(.rodata)  *(.rodata.*)    }
    .bss                 : { *(.bss)     *(.bss.*)       }
    .rela                : { *(.rela)    *(.rela.*)      }
    .eh_frame_hdr        : { *(.eh_frame_hdr)    }
    .eh_frame            : { *(.eh_frame)        }
    .shstrtab            : { *(.shstrtab)        }
    .strtab              : { *(.strtab)          }
    .symtab              : { *(.symtab)          }
    .symtab_shndx        : { *(.symtab_shndx)    }

    .debug_abbrev     : { *(.debug_abbrev)     }
    .debug_info       : { *(.debug_info)       }
    .debug_rnglists   : { *(.debug_rnglists)   }
    .debug_str        : { *(.debug_str)        }
    .debug_addr       : { *(.debug_addr)       }
    .comment          : { *(.comment)          }
    .debug_frame      : { *(.debug_frame)      }
    .debug_line       : { *(.debug_line)       }
    .debug_line_str   : { *(.debug_line_str)   }
    .debug_loclists   : { *(.debug_loclists)   }
    
    .other : { *(*) }

    . = 0x200000000;  # 8G
    . = 0x240000000;  # 9G, for stack
    _wwos_application_stack_top = .;

    . = 0x400000000;  # 16G, beginning of heap.
}