ENTRY(_start)
SECTIONS {
    . = PA_ENTRY + SIZE_PREKERNEL;
    wwos_kernel_begin_mark = .;

    .text.wwos.start : { *(.text.wwos.start)         }

    .text   : { *(.text)    *(.text.*)   }
    .data   : { *(.data)    *(.data.*)   }
    .rodata : { *(.rodata)  *(.rodata.*) }
    .bss    : { *(.bss)     *(.bss.*)    }
    .rela   : { *(.rela)    *(.rela.*)   }

    .eh_frame_hdr   : { *(.eh_frame_hdr) }
    .eh_frame       : { *(.eh_frame)     }
    .shstrtab       : { *(.shstrtab)     }
    .strtab         : { *(.strtab)       }
    .symtab         : { *(.symtab)       }
    .symtab_shndx   : { *(.symtab_shndx) }
    
    .debug_abbrev     : { *(.debug_abbrev)     }
    .debug_info       : { *(.debug_info)       }
    .debug_rnglists   : { *(.debug_rnglists)   }
    .debug_str        : { *(.debug_str)        }
    .debug_addr       : { *(.debug_addr)       }
    .comment          : { *(.comment)          }
    .debug_frame      : { *(.debug_frame)      }
    .debug_line       : { *(.debug_line)       }
    .debug_line_str   : { *(.debug_line_str)   }
    .debug_loclists   : { *(.debug_loclists)   }
    
    .other : { *(*) }
    
    . = ALIGN(4096);
    . += 0x10000; /* 4kB of stack memory */
    stack_top = .;

    . = ALIGN(8);
    wwos_kernel_end_mark = .;
}